*.la
*.lo
*.o
*.a
*.so
.libs/
.deps/
aclocal.m4
autom4te.cache/
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cvconfig.h
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile
Makefile.in
